{% extends "layouts/base.html" %}

{% block head %}
<script>
    $(document).ready(function () {
        $("#pw-form").submit(function (event) {
            console.log("jeffhild");
            $.post("/api/reset-password", {
                csrf_token: $("#csrf_token").val(),
                user_id: $("#user_id").val()
            }).then(function (res) {
                $("#pw-form").hide();
                $("h1").hide();
                $("h3").text("Passord nullstilt for " + res["first_name"]);
                $("h3").after($("<p>Midlertidig passord: " + res["password"] + "</p>"))
            }), function () {
                $("h3").text("Feilet, RIP.");
            }
            $("h3").show();
            event.preventDefault();
        })
    });
</script>
<title>Nullstill passord</title>
{% endblock %}

{% block body %}
    <div class="login">
        <main>
            <h1>Nullstill passord</h1>
            <h3 style="display:none"></h3>
            <form method="POST" id="pw-form">
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}"/>
                <label for="password">Bruker</label>
                <select name="user_id" id="user_id">
                    {% for user in users %}
                        <option value="{{ user['id'] }}">{{ user['first_name'] }}</option>
                    {% endfor %}
                </select>
                <input id="submit" name="submit" type="submit" value="Nullstill passord">
            </form>
        </main>
        <header>
            <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" class="site-logo" alt="Gavmild logo"></a>
        </header>
        <img src="{{ url_for('static', filename='img/undraw_typewriter.svg') }}" alt="Person skriver inn tekst">
    </div>
{% endblock %}