{% extends "layouts/logged_in_content.html" %}
{% block content_header %}
{{ super() }}
{#    <div class="breadcrumb">#}
{#        <a href="{{ breadcrumb_path }}"><i class="fa-solid fa-arrow-left"></i><span>Tilbake</span></a>#}
{#    </div>#}
{% endblock %}
{% block main_content %}
    <div class="dashboard-element">
        <div>
            <div class="dashboard-element-description">
                <h2>Sikkerhetsnøkler {{ '<span class="label-green">Aktivert</span>'|safe if credentials }}</h2>
                {% if credentials %}
                <p>Innlogging med sikkerhetsnøkkel er aktivert.</p>
                {% else %}
                <p>Aktiver passordløs innlogging med sikkerhetsnøkkel.</p>
                {% endif %}
            </div>
            <div>
                <button id="add-new-key" class="blue-button">Legg til</button>
            </div>
        </div>
        {% if credentials %}
            <table>
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Lagt til</th>
                        <th>Sist brukt</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for credential in credentials %}
                    <tr>
                        <td>{{ credential.label if credential.label else "Ukjent" }}</td>
{#                        {% set month_number = credential.created_at.month %} .strftime('%H:%M %d. ' + month_name + ', %Y')#}
{#                        {% set month_name = norwegian_months[month_number] %} .strftime('%H:%M %d. ' + month_name + ', %Y') #}
                        <td>{{ credential.created_at_string() }}</td>
                        <td>{{ credential.last_used_time() }} {{ " fra " + credential.last_used_os() if credential.last_used_os() }}</td>
                        <td class="edit-item" data-entry-id="{{ credential.entry_id }}"><a>Endre <i class="fa-solid fa-caret-right"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}