<script>
    window.onload = viewport_listener;
    
    function change600(){
        list_wishes(600);
    }
    function change800(){
        list_wishes(800)
    }
    function change801(){
        list_wishes(801)
    }
    function viewport_listener(){
        wishWriteModal();
        var vp800 = window.matchMedia("(max-width:800px)");
        var vp600 = window.matchMedia("(max-width:600px)");
        var vp801 = window.matchMedia("(min-width:801px)");
        if (vp600.matches){
            list_wishes(600);
        }
        else if(vp800.matches){
            list_wishes(800);
        }
        else {
            list_wishes(801);
        }
        vp800.addEventListener("change", change800)
        vp600.addEventListener("change", change600)
        vp801.addEventListener("change", change801)
    }
    
    var jsonWishes = {{ json_wishes|tojson }};
    function list_wishes(vp) {
        jsonWishes = JSON.parse(jsonWishes);
        var numberOfColumns;
        if(vp == 600){
            numberOfColumns = 1;
        }
        
        else if(vp == 800){
            numberOfColumns = 2;
        }
        
        else if(vp == 801){
            numberOfColumns = 4;
        }
        var numOfWishes = Object.keys(jsonWishes).length;
        var itemsPerColumn = Math.floor(numOfWishes/numberOfColumns);
        var remainder = numOfWishes % numberOfColumns;
    
        var numOfRows = Math.ceil(numOfWishes / numberOfColumns);
        var section = document.getElementById("main-content");
        section.innerHTML = "";
        var parent = document.createElement("div");
        parent.classList.add("wishes-list");
        section.appendChild(parent);
        for (var i = 0; i < numberOfColumns; i++){ // Kolonne
            var div = document.createElement("div");
            div.classList.add("column");
            parent.appendChild(div)
        }
        var column = parent.childNodes;
        var curr_column = 0;
        var wright = {{ wright|lower }};
        

        
        for (let w in jsonWishes) { // Rad
            // Wish item div
            var div = document.createElement("div");
            div.classList.add("wish-item");
            div.setAttribute("onclick", "wishWriteModal(" + w + ", " + (wright ? '"w"' : '"r"') + ");");
            // Product image
            var img = document.createElement("img");
            img.src = jsonWishes[w].img_url;
            div.appendChild(img);
            // Wish title
            var p = document.createElement("p");
            p.innerHTML = (jsonWishes[w].desired ? "&#9733; " : "") + jsonWishes[w].wish_title + " " + jsonWishes[w].id + ((0 < jsonWishes[w].claimed && jsonWishes[w].claimed  < 3) ? " (Tatt)" : "");
            div.appendChild(p);
            // Name
            var pName = document.createElement("p");
            // Appending wish item to parent
            column[curr_column].appendChild(div);
            
            
            curr_column++;
            if (curr_column == numberOfColumns){
                curr_column = 0;
            }
        }
    
    }

    //window.onload = start;

    function wishWriteModal(id, rw) {
        var selected_modal = rw == "r" ? "modal-r" : "modal-w";
        var modal = document.getElementById(selected_modal);
        var btn = document.getElementById("add-wish");
        var span = document.getElementsByClassName("close")[0];
        
        btn.onclick = function() { // Nytt ønske
            console.log("btn onclick");
            modal = document.getElementById("modal-w");
            document.getElementById("title").value = document.getElementById("title").placeholder;
            document.getElementById("description").value = document.getElementById("description").placeholder;
            document.getElementById("url").value = document.getElementById("url").placeholder;
            document.getElementById("img_url").value = document.getElementById("img_url").placeholder;
            document.getElementById("desired").checked = document.getElementById("desired").placeholder;
            document.getElementById("wish-img-w").src = "https://static.vecteezy.com/system/resources/previews/000/384/023/original/sketch-of-a-wrapped-gift-box-vector.jpg";
            document.getElementById("edit_id").value = "";
            modal.style.display = "block";
        }
        
        span.onclick = function() {
            modal.style.display = "none";
        }
        if (!isNaN(id) && rw == "w") { // Wright modal
            document.getElementById("title").value = jsonWishes[id].wish_title;
            document.getElementById("description").value = jsonWishes[id].description;
            document.getElementById("url").value = jsonWishes[id].url;
            document.getElementById("img_url").value = jsonWishes[id].img_url;
            document.getElementById("desired").checked = jsonWishes[id].desired;
            document.getElementById("wish-img-w").src = jsonWishes[id].img_url;
            document.getElementById("edit_id").value = jsonWishes[id].id;
            modal.style.display = "block";
        }

        if (!isNaN(id) && rw == "r") { // Read modal
            if (jsonWishes[id].desired){
                document.getElementById("desired").innerHTML = "&#9733; Mest ønsket";
            }
            document.getElementById("claim_btn").style.display = jsonWishes[id].claimed == 3 ? "inherit" : "none";
            document.getElementById("unclaim_btn").style.display = jsonWishes[id].claimed == 1 ? "inherit" : "none";
            document.getElementById("wish-img-r").src = jsonWishes[id].img_url;
            document.getElementById("wish-header").innerHTML = jsonWishes[id].wish_title;
            document.getElementById("product-url").innerHTML = (new URL(jsonWishes[id].url)).hostname.replace("www.", "");
            document.getElementById("product-url").href = jsonWishes[id].url;
            document.getElementById("description").innerHTML = jsonWishes[id].description;
            document.getElementById("claimed_wish_id").value = jsonWishes[id].id;
            modal.style.display = "block";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
            modal.style.display = "none";
            }
        }
    }
</script>