{% extends "base.html" %}

{% block head %}
<title>Gavmild</title>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>

</script>
{% endblock %}

{% block modal %}
    <div id="modal" class="modal">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
{% endblock %}

{% block nav %}
    {% include "nav_logged_in.html" %}
{% endblock %}

{% block body %}
    {{ getform.hidden_tag() }}
    {{ getform.filter(value=filter_value) }}
    <div class="wishes-list">
    </div>
{% endblock %}