{% extends "modal.html" %}
{% block modal_left %}{% endblock %}
{% block modal_right %}
    <!--{% if wish.desired %}
        <p class="desired">&#9733; Mest ønsket</p>
    {% endif %}-->
    <h2>{{ wish.title }}</h2>
    <div class="wish-details">
            {% if wish.price %}
                <span class="price">{{ "{0:,}".format(wish.price).replace(",", " ") }} kr</span>
            {% endif %}
            {# {% if wish.price and wish.url%}
                <span>•</span>
            {% endif %} #}
            {% if wish.url|length > 0 %}
                <a href="{{ wish.url }}" id="product-url" target="_blank">{{ netloc }}</a>
                {{ '<i class="fa-solid fa-link-slash icon-dead-link" id="%s" title="Rapporter død lenke"></i>'|safe % wish.id if wish.user_id != current_user.id }}
                
            {% endif %}
    </div>

    <p class="wish-description">{{ wish.description }}</p>
    <form action="{{ url_for('api.claim') }}" method="POST">
        {{ claimform.hidden_tag() }}
        {{ claimform.claimed_wish_id(value=wish.id) }}
        {{ claimform.claimed_action }}

        {% if wish.is_claimed_by_user(current_user.id) %}
            <button class="claim-button unclaim" id="claim_btn" name="claim_btn" type="submit">
                <i class="fa-regular fa-circle-check icon-blue"></i><span>Ikke ta ønsket</span>
            </button><!--
            <button class="claim-button unclaim button-red" id="claim_btn" name="claim_btn" type="submit">
                <i class="fas fa-gift"></i><span>Ikke ta ønske</span>
            </button>-->
        {% endif %}

        {% if wish.claims %}
            <p>Tatt av
                {% for claim in wish.claims %}
                    {{ claim.user.first_name }}
                {% endfor %}
            </p>
        {% endif %}

        {% if not wish.claims %}
            <button class="claim-button" id="claim_btn" name="claim_btn" type="submit">
                <i class="fa-regular fa-circle-check icon-blue"></i><span>Ta ønsket</span>
            </button><!--
            <button class="claim-button button-red" id="claim_btn" name="claim_btn" type="submit">
                <i class="fas fa-gift"></i><span>Ta ønske</span>
            </button>-->
        {% endif %}
    </form>
{% endblock %}