{% extends "layouts/logged_in_content.html" %}
{% block content_header %}
    {{ super() }}
    {% if "user" in filter %}
        <label>Sorter etter:</label>
        <select name="order_by" id="order_by">
            <option value="newest_first">Nyeste først</option>
            <option value="price_low_high">Pris (lav-høy)</option>
            <option value="price_high_low">Pris (høy-lav)</option>
        </select>
    {% endif %}
{% endblock %}
{% block main_content %}
{% if lists %}
    <div class="list-filters">
    {% for list in lists %}
        <input type="checkbox" id='c{{ loop.index }}' class='chk-btn' checked />
        <label for='c{{ loop.index }}'>{{ list.title }}</label>
    {% endfor %}
    </div>
{% endif %}
    <div class="wishes-list">
    </div>
{% endblock %}