<div class="wish-item" id="{{ wish.id }}">
    {% if wish.claimed_by_user_id and wish.user_id != current_user.id %}
        <div class="claimed"><i class="fa fa-check-circle"></i></div>
    {% endif %}
    <img src="{{ wish.img_url }}">
    <ul class="co-wisher-list list-no-style">
        <li>{{ user.first_name }}</li>
        {% for co_wisher in wish.co_wisher() %}
            <li>{{ co_wisher.first_name }}</li>
        {% endfor %}
    </ul>
    <p class="wish-item-age">{{ wish.time_since_creation() }}</p>
    <h3 class="wish-item-title">{{ "<span>&#9733; </span>"|safe if wish.desired else "" }}{{ wish.title }}</h3>
</div>