{% extends "base.html" %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
    <div class="login">
        <header>
            <a href="/"><img src="{{ url_for('views.static', filename='logo.png') }}" alt="Gavmild logo" class="site-logo"></a>
        </header>
        <img src="{{ url_for('views.static', filename='undraw_gift_box.svg') }}" alt="Person åpner en gave">
        <main>
            <h1>Logg inn</h1>

            <form method="POST" action="/login" class="login-form">
                {{ form.hidden_tag() }}
                {{ form.email.label }}
                {{ form.email }}
                {{ form.password.label }}
                {{ form.password }}
                <div class="remember-me">
                    {{ form.remember_me }}
                    {{ form.remember_me.label }}
                </div>
                {{ form.submit }}
            </form>

            <!--<a href="{{url_for('views.register')}}">Har du ikke en konto? Opprett en konto her.</a>-->
        </main>
    </div>
{% endblock %}