{% extends "base.html" %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
<h1>Opprett konto</h1>

<form method="POST" action="" class="register-form">
    {{ form.hidden_tag() }}
    {{ form.first_name.label }}
    {{ form.first_name }}
    {{ form.last_name.label }}
    {{ form.last_name }}
    {{ form.email.label }}
    {{ form.email }}
    {{ form.password.label }}
    {{ form.password }}
    {{ form.date_of_birth.label }}
    {{ form.date_of_birth }}
    {{ form.submit }}
</form>

<a href="{{url_for('views.login')}}">Har du allerede en konto? Logg inn her.</a>
{% endblock %}