{% extends "base.html" %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
    <div class="login">
        <main>
            <h1>Opprett konto</h1>
            <form method="POST" action="/register" class="register-form">
                {{ form.first_name.label }}
                {{ form.first_name }}
                {{ form.last_name.label }}
                {{ form.last_name }}
                {{ form.email.label }}
                {{ form.email }}
                {{ form.password.label }}
                {{ form.password }}
                {{ form.date_of_birth.label }}
                {{ form.date_of_birth }}
                {{ form.submit }}
                {{ form.hidden_tag() }}
            </form>

            <a href="{{url_for('views.login')}}">Har du allerede en konto? Logg inn her.</a>
        </main>
        <header>
            <a href="/"><img src="{{ url_for('views.static', filename='logo.png') }}" class="site-logo" alt="Gavmild logo"></a>
        </header>
        <img src="{{ url_for('views.static', filename='undraw_typewriter.svg') }}" alt="Person skriver inn tekst">
    </div>
{% endblock %}