<section id="modal-left-view">
  <img src="{{ wish.img_url }}" id="modal-read-img">
</section>
<section id="modal-right-view">
  <span class="close">&times;</span>
  {% if wish.desired %}
    <p class="desired">&#9733; Mest ønsket</p>
  {% endif %}
  <h2>{{ wish.title }}</h2>
  <div class="display-wish-footer">
    <a href="{{ wish.url }}" id="product-url">{{ netloc }}</a>
  </div>
  <h3>Av&nbsp;<ul class="co_wishers_list">
      <li>{{ user.first_name }}</li>
        {% if co_wisher|length > 0 %}
            {% for user in co_wisher %}
                <li>{{ user.first_name }}</li>
            {% endfor %}
        {% endif %}
  </ul></h3>
  <p class="wish-description">{{ wish.description }}</p>
  <form action="{{ url_for("api.claim") }}" method="POST">
    {{ claimform.hidden_tag() }}
  {{ claimform.claimed_wish_id(value=wish.id) }}
    {{ claimform.claimed_action }}
    {% if wish.claimed_by_user_id == current_user.id %}
      {{ claimform.unclaim_btn }}
    {% endif %}
    {% if not wish.claimed_by_user_id %}
      {{ claimform.claim_btn }}
    {% endif %}
  </form>
</section>