<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.typeahead.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <script src="https://kit.fontawesome.com/a8a4964545.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/@simplewebauthn/browser@8.3.1/dist/bundle/index.umd.min.js" integrity="sha384-jzH55VC1CLRsZlM2ktDRAA79SQiU0myt56shSIBHpwE3xRer8mkCjqgVNjZOJye1" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/webauthn.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.typeahead.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
    </script>
    <title>{{ page_title if page_title else "Gavmild" }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% block head %}{% endblock %}
</head>

<body>
{% block body %}{% endblock %}
</body>
</html>