{% extends "layouts/logged_in_content.html" %}
{% block main_content %}
<div class="admin-cards">
    <a href="{{ url_for('admin.users') }}" class="admin-card dashboard-element">
        <div>
            <div class="dashboard-element-description">
                <h2><i class="fa-solid fa-users"></i> Brukere</h2>
                <p>Administrer brukere, endre innstillinger og generer tilbakestillingslenker.</p>
            </div>
            <div><i class="fa-solid fa-caret-right"></i></div>
        </div>
    </a>
    <a href="{{ url_for('admin.suggestions') }}" class="admin-card dashboard-element">
        <div>
            <div class="dashboard-element-description">
                <h2><i class="fa-solid fa-lightbulb"></i> Forslag</h2>
                <p>Se og behandle innsendte forslag fra Telegram-brukere.</p>
            </div>
            <div><i class="fa-solid fa-caret-right"></i></div>
        </div>
    </a>
    <a href="{{ url_for('admin.telegram') }}" class="admin-card dashboard-element">
        <div>
            <div class="dashboard-element-description">
                <h2><i class="fa-brands fa-telegram"></i> Telegram</h2>
                <p>Se og administrer Telegram-brukere og kontokoblinger.</p>
            </div>
            <div><i class="fa-solid fa-caret-right"></i></div>
        </div>
    </a>
</div>
{% endblock %}
