* {
    box-sizing: border-box;
  }

html, body {
    font-family: Helvetica, sans-serif;
    background-color: #F5F5F5;
    color: #121212;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

nav {
    min-width: 200px;
    margin-top: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button {
    background-color:#9d4045;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    margin: 6px 0px;
    cursor: pointer;
    border-radius: 4px
  }

header {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header ul  > li {
    list-style: none;
    display: inline;
}

header ul > :first-child {
    text-transform: capitalize;
    margin-right: 4px;
}

header h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 2.8em;
    background-color: lightseagreen;
    border-radius: 4px;
    color:white;
    -webkit-text-stroke: 1px rgb(33, 145, 139);
    margin: 0;
    padding: 5px 18px;
}

header img {
    width: 200px;
    margin-top: 0px;
}

#main-content {
    width: 100%;
}

.wishes-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.wish-item {
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    position: relative;
    margin-top: 8px;
    padding: 10px;
    cursor: zoom-in;
}

.claimed {
    position: absolute;
    top: 18px;
    right: 18px;
    color: #3A7734;
    font-size: 2em;
}

.wish-item:hover {
    background-color: #e2e2e2;
    border-radius: 10px;
}

.wish-item img {
      width: 100%;
      border-radius: 10px;
      background: #efefef;
  }

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

.register-form, .login-form {
    max-width: 40%;
}

.wish-item h3 {
    margin: 5px 0 0 0;
    font-weight: normal;
}

.wish-item h3 span {
    /*color:#9d4045*/
}

.wish-item-subtitle{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.wish-item-subtitle p {
    margin: inherit;
    font-size: 0.8em;
    color: #3c3c3c
}
  
@media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
@media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


.co_wishers_list {
  list-style: none;
  padding:0;
  margin:0;
}

.co_wishers_list a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.co_wishers_list li {
  display: inline;
  font-size: inherit;
}

.co_wishers_list li:after {
  content: ", ";
}

.co_wishers_list li:nth-last-child(2):after {
  content: " og ";
}

.co_wishers_list li:last-child:after {
  content: "";
}

a {
  text-decoration: none;
}
a, a:visited, a:active{
  color: inherit
}