<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#pw-form").submit(function (event) {
                ajaxCall("/api/change-pw", {
                    csrf_token: $("#csrf_token").val(),
                    email: "{{ email }}",
                    password: $("#password").val(),
                    new_password: $("#new_password").val()
                }).then(function (res) {
                    $("#pw-form").hide();
                    $("h1").hide();
                    $("h3").show();
                    setTimeout(function () {
                        window.location = "https://gavmild.sekta.no/"
                    }, 3000);
                })
                event.preventDefault();
            })
        });

        function ajaxCall(route, data, callback) {
            return $.ajax({
                method: "post",
                url: route,
                data: data,
                success: callback
            })
        }
    </script>
</head>
<body>
<h1>Du må bytte passord!</h1>
<h3 style="display:none">Passord endret, vidresender til forsiden</h3>
<form action="" id="pw-form">
    {{ form.hidden_tag() }}
    {{ form.password.label }}
    {{ form.password }}
    {{ form.new_password.label }}
    {{ form.new_password }}
    {{ form.submit }}
</form>
</body>
</html>